<header>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "New long post", new_long_post_path %>
    <%= link_to "New short post", new_short_post_path %>
    <%= link_to "Tags", tags_path %>
  </nav>
</header>